

body{
    text-align: center;
}
.container {
    width: 60%;
    margin: 10px auto;
    background-color: teal;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px gray;
}

label {
    width: 80%;
    height: auto;
    color: red;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 8px;
}
label:hover {
    border: 1px solid white;
    background-color: gray;
    color: gold;
}
input {
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

input:focus {
    background-color: lightcyan;
    color: black;
}

button {
    margin: 5px;
}
#text-info, #text-priority {
    width: 50%;
    height: 20px;
    margin: 10px auto;
    background-color: white;
    border-radius: 20px;
    visibility: hidden;

}