body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.list-style-non {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-decoration-none {
    text-decoration: none;
}
.display-inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
header {
    background-color: whitesmoke;
}
header div ul li {
    height: 100%;
}
header div ul li a {
    padding: 10px;
    font-size: 20px;
}
header div ul li:hover a {
    background-color: blue;
    color: white;
}
.container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
}
.section-01 {
    grid-template-columns: 1fr 2fr 1fr;
}
.section-01 div {
    background-color: red;
    height: 150px;
}
.section-02 {
    grid-template-columns: 30% 40% 30%;
}
.section-02 div {
    background-color: blue;
    height: 150px;
}
.section-03 {
    grid-template-columns: repeat(3,1fr);
}
.section-03 div {
    background-color: gray;
    height: 150px;
}
.section-04 {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}
.section-04 div {
    background-color: teal;
    height: 150px;
}
.section-04 div:nth-child(odd) {
    background-color: darkgreen;
}