:root {
    --gray: #555;
    --white: #ddd;
    --red: #d41900;
}
.top-div {
    background-color: var(--gray);
    color: var(--white);
}
.top-div > h2 {
    background-color: var(--red);
    padding: 5px;
}
.top-div > p {
    padding: 10px;
    letter-spacing: 3px;
    text-indent: 50px;
}